<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>exp_20_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,166},{158,168}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,14},{158,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_20_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,486},{158,162}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,12},{158,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_20_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,806},{158,160}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{158,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_20_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,734},{158,162}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{158,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_20_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,326},{158,166}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,13},{158,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_21_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,806},{158,160}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{158,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_21_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,646},{158,160}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{158,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_21_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,646},{158,160}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{158,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_21_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,646},{158,160}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{158,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_21_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,646},{158,160}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{158,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_22_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,568},{158,164}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,36},{158,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_22_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,784},{158,174}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{158,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_22_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,202},{158,184}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{158,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_22_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{158,198}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{158,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_22_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,204},{158,200}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{158,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_23_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,164},{160,168}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,31},{160,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_23_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{160,168}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,31},{160,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_23_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{162,168}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,32},{162,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_23_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,406},{166,196}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{166,196}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_23_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,200}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{178,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_23_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,182},{178,148}}</string>
                <key>offset</key>
                <string>{3,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,52},{178,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_23_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1012},{1,1}}</string>
                <key>offset</key>
                <string>{-99.5,99.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_24_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,486},{158,160}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,23},{158,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_24_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,326},{158,166}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,22},{158,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_24_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,388},{158,178}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{158,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_24_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,604},{158,178}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{158,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_24_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{158,178}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{158,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_25_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{200,168}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{200,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_25_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{200,164}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{200,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_25_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,608},{200,160}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{200,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_25_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,810},{200,162}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{200,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_25_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{200,166}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{200,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_25_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{200,168}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{200,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_26_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{176,156}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,18},{176,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exp3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01a309ae243eedc812ccc1dc0a3efde9:1/1$</string>
            <key>textureFileName</key>
            <string>exp3.png</string>
        </dict>
    </dict>
</plist>
