<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>exp_26_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,178},{174,156}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,18},{174,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_26_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{170,156}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,18},{170,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_26_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{174,166}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,18},{174,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_26_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,354},{172,156}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{172,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_27_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,768},{174,160}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,21},{174,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_27_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{188,160}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{188,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_27_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,192},{184,160}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{184,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_27_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,832},{158,160}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,21},{158,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_27_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,600},{170,182}}</string>
                <key>offset</key>
                <string>{15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{170,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_27_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_27_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_27_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_27_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_28_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{200,170}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{200,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_28_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,398},{200,162}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{200,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_28_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,196},{200,162}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{200,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_28_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{200,170}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{200,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_28_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{200,170}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{200,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_28_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{200,170}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{200,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_29_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,800},{194,172}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,20},{194,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_29_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,800},{194,172}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,20},{194,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_29_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,576},{162,170}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{162,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_29_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,378},{158,172}}</string>
                <key>offset</key>
                <string>{-16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{158,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_29_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{192,170}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,22},{192,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_29_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{192,170}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,22},{192,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_30_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,800},{190,176}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{190,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_30_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,386},{158,190}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{158,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_30_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,386},{158,188}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,7},{158,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_30_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,578},{158,188}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,7},{158,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_30_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,608},{178,190}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{178,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_30_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,196},{162,188}}</string>
                <key>offset</key>
                <string>{-19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{162,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_31_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,748},{158,160}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,20},{158,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_31_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,672},{158,160}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,20},{158,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_31_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,512},{158,160}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,20},{158,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_31_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,672},{158,160}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,20},{158,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_31_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,748},{158,160}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,20},{158,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_31_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,748},{158,160}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,20},{158,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_32_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{158,160}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{158,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exp_32_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,174},{158,160}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,4},{158,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exp4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93e6b53f22ab27c438a42797c799e05f:1/1$</string>
            <key>textureFileName</key>
            <string>exp4.png</string>
        </dict>
    </dict>
</plist>
