<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>yuanjian-suizhuan1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,427},{92,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,88}}</string>
        <key>sourceSize</key>
        <string>{92,88}</string>
      </dict>
      <key>yuanjian-suizhuan2.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,490},{92,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,88}}</string>
        <key>sourceSize</key>
        <string>{92,88}</string>
      </dict>
      <key>yuanjian-zhuantou.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,234},{79,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,126}}</string>
        <key>sourceSize</key>
        <string>{79,126}</string>
      </dict>
      <key>yuanjian-yanwu_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,386},{176,191}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,191}}</string>
        <key>sourceSize</key>
        <string>{176,191}</string>
      </dict>
      <key>yuanjian-yanwu_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,234},{176,191}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,191}}</string>
        <key>sourceSize</key>
        <string>{176,191}</string>
      </dict>
      <key>yuanjian-yanwu_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,0},{176,191}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,191}}</string>
        <key>sourceSize</key>
        <string>{176,191}</string>
      </dict>
      <key>yuanjian-yanwu_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,193},{176,191}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,191}}</string>
        <key>sourceSize</key>
        <string>{176,191}</string>
      </dict>
      <key>yuanjian-lieheng.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{272,232}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{272,232}}</string>
        <key>sourceSize</key>
        <string>{272,232}</string>
      </dict>
      <key>yuanjian-bixue.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,0},{9,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,19}}</string>
        <key>sourceSize</key>
        <string>{9,19}</string>
      </dict>
      <key>yuanjian-zhuantou_liehen.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,362},{79,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,126}}</string>
        <key>sourceSize</key>
        <string>{79,126}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>rengzhuantou_xia.png</string>
      <key>textureFileName</key>
      <string>rengzhuantou_xia.png</string>
      <key>size</key>
      <string>{512,1024}</string>
    </dict>
  </dict>
</plist>