<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>thumb-glow5.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,67},{30,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,30}}</string>
        <key>sourceSize</key>
        <string>{30,30}</string>
      </dict>
      <key>thumb-sprite 4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,80}}</string>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>thumb-glow9.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,0},{72,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,72}}</string>
        <key>sourceSize</key>
        <string>{72,72}</string>
      </dict>
      <key>thumb-glow8.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,34},{31,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,31}}</string>
        <key>sourceSize</key>
        <string>{31,31}</string>
      </dict>
      <key>thumb-glow6.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,0},{31,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,32}}</string>
        <key>sourceSize</key>
        <string>{31,32}</string>
      </dict>
      <key>thumb-12.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,0},{52,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,84}}</string>
        <key>sourceSize</key>
        <string>{52,84}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>thumb1.png</string>
      <key>textureFileName</key>
      <string>thumb1.png</string>
      <key>size</key>
      <string>{256,128}</string>
    </dict>
  </dict>
</plist>