<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>dh_buff_xingxing.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,245},{27,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,28}}</string>
        <key>sourceSize</key>
        <string>{27,28}</string>
      </dict>
      <key>dh_buff_guang.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{232,243}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{232,243}}</string>
        <key>sourceSize</key>
        <string>{232,243}</string>
      </dict>
      <key>zhuang-dh.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,245},{55,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,60}}</string>
        <key>sourceSize</key>
        <string>{55,60}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>dh_buff_donghua.png</string>
      <key>textureFileName</key>
      <string>dh_buff_donghua.png</string>
      <key>size</key>
      <string>{256,512}</string>
    </dict>
  </dict>
</plist>